.footer {
  background-color: steelblue;
  padding: 20px;
}

.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer-item {
  color: white;
  margin-bottom: 8px;
  font-size: 0.95rem;
}
